.primaryNavbar2 {
    position:absolute;
    top:0px;
    left:0px;
    z-index: 1;
    width:99.2%;
    height:120px;
    background-color: #081322;
    box-shadow: 0px 0px 5px 1px lightgray;
    color: white
}

@media (max-width:500px) {
    .primaryNavbar {
        height:700px
    }
}